// Page header
.hero {
  @include breakpoint(small) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2035aa+0,215caf+100 */
    background: #2035aa;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2035aa 0%, #215caf 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2035aa 0%,#215caf 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2035aa 0%,#215caf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#2035aa', endColorstr='#215caf',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
  }
  @include breakpoint(medium) {
    height: rem-calc(300);
    margin: 0 0 rem-calc(72);
  }
  .tagline {
    @include breakpoint(small) {
       @include grid-column(8);
    }
    @include breakpoint(medium) {
       @include grid-column(5);
      padding-top: 6rem;
    }
  }
  h1 {
    color: #fff;
    font-weight: 500;
    @include breakpoint(small) {
      font-size: 2.2rem;
    }
  }
  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }
// Intro
.intro {
  @include grid-row();
  .fp-intro {
    @include breakpoint(small) {
       @include grid-column(12);
    }
    @include breakpoint(medium) {
       @include grid-column(10);
      @include grid-column-offset(1);
    }
  }
}
// Section divider
.section-divider {
  @include grid-row();
}
// Benefits
.benefits {
  @include grid-row();
  text-align: center;
  header {
    @include grid-column(12);
    h2 {
      font-weight: 300;
    }
    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }
  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }
    p {
      font-size: 0.9375rem;
    }
  }
}
