%icon {
  min-width: rem-calc(30);
  min-height: rem-calc(30);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.icon {
  @extend %icon;
  &.service-symbol {
    background-image: url('../img/svg/service-symbol.svg');
    background-size: cover;
    @at-root .top-bar .service-symbol {
      width: rem-calc(50);
      height: rem-calc(50);
    }
  }
}
