// Site Navigation
.off-canvas,
.main-navigation {
  text-transform: uppercase;
}

.top-bar-center {
  > ul {
    display: inline-block;
  }
}

// Top Logo
.logo-wrapper {
  line-height: 0;
  a {
    display: inline-block;
    border-radius: 100%;
    transition: box-shadow 0.5s, background-color 0.25s ease-in-out;

  }
  @at-root {
    .title-bar .logo-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .top-bar .logo-wrapper {
      margin: $global-margin auto;
      a {
        &:hover {
          background-color: goldenrod;
          box-shadow: 0 0 0 4px green,
          0 0 0 8px navy,
          0 0 0 12px darkred
          ;
        }
      }
    }
  }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

.nav-previous { float:left; }
.nav-next { float:right; }
